CUNY_TOPT=
CUNY_ISSUER=
CUNY_DEVICE=

CUNY_SCHOOL=
CUNY_EMAIL=
CUNY_PASSWORD=

LM_STUDIO_API_KEY=
LM_STUDIO_HOST_ADDRESS=192.168.1.X
LM_STUDIO_HOST_PORT=1234
LM_STUDIO_HOST_SCHEME=http
LM_STUDIO_MODEL=qwen/qwen3.6-35b-a3b