.env
.venv
.idea
servers/books.py
servers/tools/books/fetch_book.py
pong_royale.py
servers/media.py
servers/voice.py
servers/propertyroom.py
*.png
*.jpg
*.mp4
*.mp3
*.mkv
*.webm
*.pdf
__pycache__
.DS_Store
powerpoint-mcp
/servers/tools/media
/servers/tools/servers
/servers/tools/books/
/servers/tools/propertyroom
/servers/data/bible/
/servers/torah.py
/servers/main.py
